## 1) Set/Change Current directory

In [1]:
import os

In [31]:
print(os.getcwd())

C:\Users\subramanian2\Python programs

In [32]:
os.chdir("C:/Users/subramanian2")

In [33]:
print(os.getcwd())

C:\Users\subramanian2

In [34]:
os.chdir("C:/Users/subramanian2/Python programs")

In [35]:
print(os.getcwd())

C:\Users\subramanian2\Python programs

## 2) Create int, float and string and then delete in next cell

In [25]:
list1 = ['id', 2.4, 2 ]

In [26]:
print(list1)

['id', 2.4, 2]

In [23]:
del(list1)

In [24]:
print(list1)

NameError: name 'list1' is not defined

## 3) Assigning a value to keyword

In [30]:
True = 1

SyntaxError: can't assign to keyword (<ipython-input-30-1598b51f0f76>, line 1)

## 4) Multiline statement and assign it to a variable without /

In [37]:
a = (1 +
2 + 3 + 4 +
5)

In [38]:
print (a)

15

## 5) Print from 100 to 999 with step size 8

In [53]:
for i in range (100, 1000, 8):
    print (i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

In [63]:
list(range (100, 1000, 8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

## 6) Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [89]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i == len(list1)/2:
        break
    print (i)

1
2
3
4

## 7) Import pakage and find area of triangle

1) Create aot folder in site-package\
2) Create area_of_triangle.py file with code below:\
\
import math\
from math import sqrt\
def area_of_tri(a,b,c):\
    s = (a+b+c)/2\
    area = sqrt(s*(s-a) * (s-b) * (s-c))\
    return (area)

In [5]:
import aot

In [6]:
from aot import area_of_triangle

In [10]:
area_of_triangle.area_of_tri(15,51,17)

ValueError: math domain error

 - -> Above code works with other values

## 8) Print odd nos from 0 to 100 using list comp

In [15]:
list3 = range(0,100)

## 9) list comprehension to print the odd numbers from 0 to 100

In [16]:
[a for a in list3 if a%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 10) Remove vowels from a name

In [17]:
name = "Suresh Subramanian"

In [58]:
vowels = ['a','e','i','o','u']
output = [i for i in name if i not in vowels]
print(output)

['S', 'r', 's', 'h', ' ', 'S', 'b', 'r', 'm', 'n', 'n']