In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,accuracy_score

In [4]:
df=pd.read_csv(r'https://raw.githubusercontent.com/nursnaaz/25DaysInMachineLearning/master/18%20-%20Day%20-%2018%20-%20Linear%20Regression%20Practise%20Python/Practise/Predict%20Cab%20price.csv')

In [5]:
df.head()

   miles  temp  rain  ncabs  price
0      1    30     0     10     20
1      1    38     0      5     40
2      1    25     0      1     50
3      1    20     1     10     50
4      1    15     1      4     80

In [7]:
df.shape

(60, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   miles   60 non-null     int64
 1   temp    60 non-null     int64
 2   rain    60 non-null     int64
 3   ncabs   60 non-null     int64
 4   price   60 non-null     int64
dtypes: int64(5)
memory usage: 2.5 KB

In [10]:
df.duplicated().sum()

0

In [12]:
df.corr().T

              miles      temp          rain     ncabs     price
miles  1.000000e+00  0.016854 -4.186913e-17 -0.029444  0.570319
temp   1.685446e-02  1.000000 -8.342531e-01  0.309084 -0.593492
rain  -4.186913e-17 -0.834253  1.000000e+00  0.013880  0.512700
ncabs -2.944417e-02  0.309084  1.388012e-02  1.000000 -0.376077
price  5.703190e-01 -0.593492  5.127002e-01 -0.376077  1.000000

In [13]:
df.describe().T

       count        mean         std   min   25%    50%     75%    max
miles   60.0    3.000000    1.426148   1.0   2.0    3.0    4.00    5.0
temp    60.0   23.350000    9.166677  10.0  15.0   21.0   30.00   39.0
rain    60.0    0.500000    0.504219   0.0   0.0    0.5    1.00    1.0
ncabs   60.0    5.416667    3.632675   1.0   2.0    4.5   10.00   11.0
price   60.0  157.683333  119.883629  20.0  80.0  123.5  200.25  555.0

In [15]:
df.apply(lambda x: len(x.unique()))

miles     5
temp     20
rain      2
ncabs     8
price    43
dtype: int64

In [16]:
x=df.drop(columns=['price'])
y=df.price

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [18]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [19]:
y_pred = model.predict(x)

In [23]:
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mean_squared_error(y, y_pred))
r2 = model.score(x,y)

In [24]:
mse

3709.9404387431446

In [25]:
rmse

60.90928039915711

In [26]:
r2

0.7374896595686777

In [27]:
model.intercept_

116.72848750181888

In [28]:
model.coef_

array([49.11416951, -4.05388595, 60.86649794, -7.6743588 ])